<div id = 'app'>
    <h1 :class = 'titleClass'>{{ message }}</h1>

    <ul v-for="todo in todos" :key="todo.id">
        <li :class = 'listClass'>
            <input type="checkbox" v-model="todo.completed" @change="toggleCompleted">
            <span v-bind:class="{ completed: todo.completed }">
            {{todo.text}}
            </span>
            <input v-if="editing" type="text" v-model="editText" @blur="doneEditing" @keyup.enter="doneEditing">
            <button class="list-btn"  @click="editItem(todo.id)">{{ editing ? 'Done' : "Edit" }}</button>
            <button class="list-btn" @click="removeTodo(todo.id)">Remove</button>
        </li>
    </ul>

    <input class="input-box" v-model="textValue" type="text" placeholder="New Todo">
    <p>{{ textValue }}</p>
    <button class="control-btn" @click="addTodo">add todo</button>

    <button class="control-btn" @click="removeLastTodo">Remove last todo in list</button>
    
</div>

<script type="module">
    import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    let id = 0;

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                titleClass: 'red',
                listClass: 'list',
                counter: {
                    count: 0
                },
                textValue: '',
                todos: [
                    {id: id++, text: "do homework", completed: false},
                    {id: id++, text: "clean room", completed: false},
                    {id: id++, text: "walk dog", completed: false}
                ],
                checkbox: {
                    accept: true
                },
                editing: false,
                editText: ''
            }
        },
        methods: {
            addButton() {
                this.counter.count++;
            },
            subtractButton() {
                this.counter.count--;
            },
            addTodo() {
                this.todos.push({id: id++, text: this.textValue, checked: false});
                this.textValue = '';
            },
            removeLastTodo() {
                this.todos.pop({id: this.todos.id, text: this.todos.text})
            },
            removeTodo(todoId) {
                this.todos = this.todos.filter((todo) => todo.id !== todoId);
            },
            editTodo(todoId) {
                    todo.style.display = 'none';
                    editInput.style.display = 'block';
                    editInput.value = taskSpan.textContent;
                    editButton.style.display = 'none';
                    saveButton.style.display = 'block';
            },
            toggleCompleted() {
                this.$emit('toggle-completed', this.todo);
            },
            editItem(todoId) {
                if (this.editing) {
                this.doneEditing()
                } else {
                this.editing = true
                }
            },
             doneEditing() {
                this.editing = false
                if (this.editText.length === 0) {
                this.$emit('delete', this.todo)
                } else {
                this.$emit('edit', { todo: this.todo, text: this.editText })
                }
            }
        }
    }).mount('#app')
</script>

<style>
    .red{
        color: rgb(0, 32, 160);
    }
    .list{
        list-style: none;
    }
    .completed{
        text-decoration: line-through;
    }
    .list-btn{
        background-color: orange;
        padding: .5rem;
        margin: .5rem;
        border-radius: 1rem;
    }
    .control-btn{
        background-color: orange;
        padding: .5rem;
        margin: .5rem;
        border-radius: 1rem;
        font-size: 1.2rem;
    }
    .input-box{
        padding: .5rem;
        margin: .5rem;
        border-radius: 1rem;
        font-size: 1.2rem;
    }
    ul{
        width: 50%;
        background-color: rgb(212, 212, 212);
    }
    li{
        
    }
</style>