<div id = 'app'>
    <h1 :class = 'titleClass'>{{ message }}</h1>
    <p>The count is: {{counter.count}}</p>
    <button @click="addButton">add one</button>
    <button @click="subtractButton">subtract one</button>

    <ul v-for="todo in todos" :key="todo.id">
        <li :class = 'listClass'>
            <input type="checkbox" @click="changeCheck(todo.id)">
            {{todo.text}}
            <button @click="editTodo(todo.id)">Edit</button>
            <button @click="removeTodo(todo.id)">Remove</button>
        </li>
    </ul>

    <input v-model="textValue" type="text">
    <p>{{ textValue }}</p>
    <button @click="addTodo">add todo</button>

    <button @click="removeLastTodo">Remove last todo in list</button>
    
</div>

<script type="module">
    import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    let id = 0;

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                titleClass: 'red',
                listClass: 'list',
                counter: {
                    count: 0
                },
                textValue: '',
                todos: [
                    {id: id++, text: "do homework", checked: false},
                    {id: id++, text: "clean room", checked: false},
                    {id: id++, text: "walk dog", checked: false}
                ],
                checkbox: {
                    accept: true
                },
                editedTodo: null
            }
        },
        methods: {
            addButton() {
                this.counter.count++;
            },
            subtractButton() {
                this.counter.count--;
            },
            addTodo() {
                if(this.editedTodo === null){
                this.todos.push({id: id++, text: this.textValue, checked: false});
                this.textValue = '';
                } else {
                    this.todo[this.editedTodo].text = this.todo;
                    this.editedTodo = null;
                }
            },
            removeLastTodo() {
                this.todos.pop({id: this.todos.id, text: this.todos.text})
            },
            removeTodo(todoId) {
                this.todos = this.todos.filter((todo) => todo.id !== todoId);
            },
            editTodo(todoId) {
                this.todo = this.todos[id].text;
                this.editedTodo = id;
            },
            changeCheck(todoId) {
                this.todos.checked = true;
            }
        }
    }).mount('#app')
</script>

<style>
    .red{
        color: red;
    }
    .list{
        list-style: none;
    }
    .completed{
        background-color: black;
    }
</style>